.header {
  width: 100%;
  padding: 1rem 1rem;
  color: #f0f0f0;
  text-align: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  border-bottom: 3px solid #fc54c4;
}

.header h1 {
  font-size: 3.5rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 1.1rem;
  color: #ffee00;
  z-index: 2;
  position: relative;
}

.header img:hover {
  transform: scale(1.05);
}

@media (max-width: 600px) {
  .header h1 {
    font-size: 1.8rem;
  }

  
}

.footer {
  width: 100%;
  padding: 1rem;
  background-color: #1a1a2e;
  color: #cdb4db;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
  font-size: 0.9rem;
}

.footer a {
  color: #8ecae6;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #ffb4ed;
}
